.vfd-settings-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 40px;
  background: #fff;
  border-bottom: 1px solid #eee;
  margin-bottom: 35px;

  .left-header {
    display: flex;
    align-items: center;
    gap: 1rem;

    .back-btn {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      background: transparent;
      // border: 2px solid #0f766e;
      border: 2px solid #0f766e;
      // color: #0f766e;
      color: #0f766e;
      padding: 0.5rem 1rem;
      border-radius: 8px;
      cursor: pointer;
      font-weight: 500;
      transition: all 0.3s ease;

      &:hover {
        // background: linear-gradient(90deg, #0f766e 0%, #0f766e 100%);
        background: #0f766e;
        color: white;
        transform: translateY(-1px);
      }
    }

    .title {
      display: flex;
      align-items: center;
      gap: 16px;

      h2 {
        font-size: 23px !important;
        font-weight: 400 !important;
        margin: 0;
      }

      input {
        // border: 1px solid #0f766e;
        border: 1px solid #0f766e;
        outline: none;
        background: transparent;
        padding: 5px 10px;
        font-size: 15px;
      }
    }
  }

  .right-header {
    display: flex;
    align-items: center;
    gap: 1rem;

    .save-btn {
      // background-color: #0f766e;
      background-color: #0f766e;
      color: #fff;
      font-size: 18px;
      padding: 8px 20px;
      border-radius: 5px;
      border: none;
      font-weight: 500;
      cursor: pointer;
      box-shadow: 0 4px 12px rgba(124, 58, 237, 0.3);
      transition: background 0.3s ease;
      text-transform: uppercase;

      &:disabled {
        opacity: 0.5;
        cursor: not-allowed;
        pointer-events: none;
        transition: opacity 0.3s ease;
        background-color: #aa98c9;
        color: #fdf7f7;
      }

      &:hover {
        background-color: #0b5a54;
      }
    }
  }
}